<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pat</string>
				<string>mxb</string>
				<string>help</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Binary.icns</string>
			<key>CFBundleTypeName</key>
			<string>Max binary file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>maxb</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
				<string>mxt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Text.icns</string>
			<key>CFBundleTypeName</key>
			<string>Max text file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mxf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Collective5.icns</string>
			<key>CFBundleTypeName</key>
			<string>Max collective</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>mx@c</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>vst</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VST.icns</string>
			<key>CFBundleTypeName</key>
			<string>VST plug-in</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>aPcs</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mxo</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Extern.icns</string>
			<key>CFBundleTypeName</key>
			<string>Max external object</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>iLaX</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jit</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Jit.icns</string>
			<key>CFBundleTypeName</key>
			<string>Jitter document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>JiT!</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aif</string>
				<string>aiff</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AIFF.icns</string>
			<key>CFBundleTypeName</key>
			<string>AIFF audio file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AIFF</string>
				<string>AIFC</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Collective.icns</string>
			<key>CFBundleTypeName</key>
			<string>Max old format collective</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>maxc</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>app</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Application</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>APPL</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mid</string>
				<string>midi</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MIDI File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>Midi</string>
				<string>MIDI</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>XML File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string></string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>maxpat</string>
				<string>maxhelp</string>
				<string>json</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Patcher.icns</string>
			<key>CFBundleTypeName</key>
			<string>Max 5 patcher</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>JSON</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>maxhelp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Patcher.icns</string>
			<key>CFBundleTypeName</key>
			<string>Max 5 help file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fxp</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>VST effect program</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AFxP</string>
				<string></string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fxb</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>VST effect bank</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AFxB</string>
				<string></string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>amp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LiveAMP.icns</string>
			<key>CFBundleTypeName</key>
			<string>Max device file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ampf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>amxd</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LiveAMP.icns</string>
			<key>CFBundleTypeName</key>
			<string>Max device file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>amxd</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>softstep-filter</string>
	<key>CFBundleGetInfoString</key>
	<string>5.1.4, Copyright 2009 Cycling '74</string>
	<key>CFBundleIconFile</key>
	<string>Max.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.cycling74.com.Max.softstep-filter.appRuntime</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLongVersionString</key>
	<string>MaxMSP Runtime 5.1.4 (build 42462), Copyright 2009 Cycling '74</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>5.1.4 (42462)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>5.1.4</string>
	<key>CSResourcesFileMapped</key>
	<false/>
</dict>
</plist>
