<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>C74ObjectProperties</key>
	<dict>
		<key>c74factoryexternal</key>
		<string>yes</string>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>midi_adrewire</string>
	<key>CFBundleIdentifier</key>
	<string>com.cycling74.midi_adrewire</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLongVersionString</key>
	<string>midi_adrewire 5.1.4 (build 42462), Copyright 2010 Cycling '74</string>
	<key>CFBundlePackageType</key>
	<string>iLaX</string>
	<key>CFBundleShortVersionString</key>
	<string>5.1.4 (42462)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>42462</string>
	<key>CSResourcesFileMapped</key>
	<true/>
</dict>
</plist>
